[submodule "BSPlus/Stream Host/Overlay"]
	path = BSPlus/Stream Host/Overlay
	url = https://github.com/qlulezz/bsplus-score-overlay
[submodule "BSPlus/Players + Coordinators + Stream Host/PC"]
	path = BSPlus/Players + Coordinators + Stream Host/PC
	url = https://github.com/hardcpp/BeatSaberPlus
[submodule "TournamentAssistant/Coordinators"]
	path = TournamentAssistant/Coordinators
	url = https://github.com/MatrikMoon/TournamentAssistant
[submodule "TournamentAssistant/Players"]
	path = TournamentAssistant/Players
	url = https://github.com/MatrikMoon/TournamentAssistant
[submodule "TournamentAssistant/Server Host"]
	path = TournamentAssistant/Server Host
	url = https://github.com/MatrikMoon/TournamentAssistant
[submodule "TournamentAssistant/Stream Host/Relay"]
	path = TournamentAssistant/Stream Host/Relay
	url = https://github.com/mgtourney/relay
[submodule "TournamentAssistant/Stream Host/Overlay"]
	path = TournamentAssistant/Stream Host/Overlay
	url = https://github.com/mgtourney/overlay
